 /* Breakpoints */
 $small: 440px; /*-------- Mobile devices*/
 $s-medium: 570px; /*-------- Tablet devices*/
 $medium: 768px;
 $large: 960px;
 $x-large: 1060px; /*-------- Desktop devices*/
 $xx-large: 1250px;
 $xxx-large: 1440px;
 $high-quality: 1700px;

 /* Z-index */
 $z-back: -1;
 $z-none: 0;
 $z-floor: 1;
 $z-medium: 10;
 $z-up: 50;
 $z-top: 100;
 $z-super: 200;

  /* Colors - Static*/
  $magenta: #FF277E;
  $white: #FFFFFF;
  $coconut: #f9f9f9;
  $silver: #d5d5d5;
  $faded-gray: #A0A0A0;
  $dove-gray: #6C6F84;
  $dark-gray: #292929;
  $colorMenuBackground1: #ecf0f1;
  $colorMenuBackground2: #53565a;
  $suraColorOscuro: blue;
  $suraColorPrimario: #0033a0;
  $suraColorSecundario-2: red;
  $suraColorLight-3: #ffffff;
  $suraColorLight: #ffffff;
  $variante-gris: #292929;
  $variante-gris-claro: #53565a;

  $heightFooterMobile: 68.78px;
  $heightHeaderMobile: 157px;
  $weigthSidebarCollapsed: 50px;
  $weigthSidebarExpaned: 210px;
  $sura-font-weight-medium: 100;
  $sura-text-uppercase: uppercase;
  $sura-font-weight-normal: normal;
  $sura-font-weight-regular: regular;
  $sura-font-weight-bold: bold;

  // Vars Colors
:root {

}
